<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Proponowany poziom postaci:</strong>
  <%= @article.players_lvl %>
</p>

<p>
  <strong>Pomysł na fabułę:</strong>
  <%= @article.post %>
</p>

<h2>Komentarze:</h2>
<% @article.comments.each do |comment| %>
<p>
    <strong>Użytkownik:</strong>
    <%= comment.created_by %>
</p>
<p>
    <strong>Komentarz:</strong>
    <%= comment.body %>
</p>
<% end %>

<h2>Skomentuj:</h2>

<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
    <%= f.text_area :body %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
    

<%= link_to 'Edytuj', edit_article_path(@article) %> |
<%= link_to 'Powrót', articles_path %>
